@use "../variables" as *;

.btn {
	font-family: $btn-ff;
	font-size: $btn-fz;
	font-weight: $btn-fw;
	line-height: $btn-lh;
	color: $btn-color;
	border-radius: $btn-borderRadius;
	border-color: $btn-borderColor;
	border-width: $btn-borderWidth;
	border-style: $btn-borderStyle;
	min-width: $btn-minWidth;

	padding: 10px 14px;
	text-align: center;
	overflow: hidden;
	cursor: pointer;

	transition: all 0.2s linear;
	background-color: rgb(204 204 204 / 15%);
	opacity: 0.9;
	transform: translateY(0);

	&:hover,
	&:focus {
		opacity: 1;
		background-color: rgb(204 204 204 / 5%);
		transform: translateY(-1px);
	}
}
