// ===== Custom vars =====
$border-radius: 8px;
$border-width: 1px;
$border-solid: solid;
$min-width: 60px;

// ===== Basic colors =====
$white: #ffffff;
$black: #000000;
$dark: #09090b;
$light: #efefef;
$gray: #404040;
$transp: transparent;
$rgba-color: rgb(9 9 11 / 93%);

// ===== Typography base =====
$font-primary: "Nunito", sans-serif;
$font-secondary: "Comfortaa", sans-serif;
$font-regular: 400;
$font-medium: 500;
$font-semiBold: 600;
$font-bold: 700;
$font-extraBold: 800;
$font-black: 900;
$font-size: 16px;
$line-height: 1.25;
$text-default: $gray;
$text-light: $light;
$text-dark: $dark;

// ===== Typography buttons =====
$btn-ff: $font-primary;
$btn-fz: $font-size;
$btn-lh: $line-height;
$btn-fw: $font-regular;
$btn-color: $text-light;
$btn-borderRadius: $border-radius;
$btn-borderWidth: $border-width;
$btn-borderStyle: $border-solid;
$btn-borderColor: $light;
$btn-minWidth: $min-width;
