// ===== Custom vars =====
$border-radius: 8px;
$border-width: 1px;
$border-solid: solid;
$btn-minWidth: 60px;

// ===== Custom input =====
$inp-minWidth: 120px;
$inp-radius: 4px;
// ===== Basic colors =====
$white: #ffffff;
$black: #000000;
// $dark: #09090b;
$dark: #020617;
// $dark: #0f172a;
$light: #efefef;
// $gray: #404040;
$gray: #e5e7eb;
$transp: transparent;
$rgba-color: rgb(9 9 11 / 93%);

// ===== Typography base =====
$font-primary: "Nunito", sans-serif;
$font-secondary: "Comfortaa", sans-serif;
$font-regular: 400;
$font-medium: 500;
$font-semiBold: 600;
$font-bold: 700;
$font-extraBold: 800;
$font-black: 900;
$font-size: 16px;
$line-height: 1.25;
$text-default: $gray;
$text-light: $light;
$text-dark: $dark;

// ===== Typography button =====
$btn-ff: $font-primary;
$btn-fz: $font-size;
$btn-lh: $line-height;
$btn-fw: $font-regular;
$btn-color: $white;
$btn-borderRadius: $border-radius;
$btn-borderWidth: $border-width;
$btn-borderStyle: $border-solid;
$btn-borderColor: $light;
$btn-minWidth: $btn-minWidth;

// ===== Typography input =====
$inp-ff: $font-primary;
$inp-fz: $font-size;
$inp-lh: $line-height;
$inp-fw: $font-regular;
$inp-color: $white;
$inp-borderRadius: $inp-radius;
$inp-borderWidth: $border-width;
$inp-borderStyle: $border-solid;
$inp-borderColor: $light;
$inp-minWidth: $inp-minWidth;
