// =====Basic colors=====
$white: #fff;
$black: #000;
$gray: #ccc;
$transp: transparent;

// Custom colors...
// $text: #2b2b2b;
// $accent: #06ff79;

// =====Typography base=====
$main-font: "Nunito", sans-serif;
$sec-font: "Arial", sans-serif;
$font-weight: 400;
$font-size: 16px;
$line-height: 1.5;
$txt-color: $text;

// // =====Typography buttons=====
// $btn-ff: $main-font;
// $btn-fz: 14px;
// $btn-lh: 17px;
// $btn-fw: 700;
// $btn-color: $accent;
// $btn-bgc: $transp;
// $btn-radius: 50px;
