@import "./reset";
@import "./helpers";
@import "./variables";

.wrapper {
	max-width: 100%;
	width: 100%;
}

.container {
	padding: 0 10px;
	margin: 0 auto;
}

h1 {
	text-align: center;
}

.caption {
	font-size: 42px;
	margin-bottom: 16px;
}

.title {
	font-size: 38px;
	font-weight: 600;
}

.header {
	margin-bottom: 48px;

	&__container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		@media only screen and (min-width: 768px) {
			flex-direction: row;
		}
	}

	&__caption {
		margin: 0 auto;
	}
}

.main-section {
}

.control {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 24px;

	&__title {
		margin: 0;
		margin-right: 10px;
	}

	&__number {
		font-size: 38px;
		margin: 0;
	}
}

.counter-form {
	text-align: center;
	&__container {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 8px;
	}

	&__input {
		height: 42px;
		margin: 0 8px;
		// margin: 0 auto;
	}

	&__btn {
		min-width: 38px;
		padding: 4px;
		font-size: 28px;
	}
}

.movement {
	&__list {
		list-style: none;
		display: flex;
	}
	&__el {
		margin: 0 4px;
	}
	&__btn {
	}
}
