@import "reset";
@import "helpers";
@import "variables";

.wrapper {
	max-width: 100%;
	width: 100%;
}

.container {
	padding: 0 10px;
	margin: 0 auto;
}

h1 {
	text-align: center;
}

.caption {
	font-size: 42px;
	margin-bottom: 16px;
}

.title {
	font-size: 38px;
	font-weight: 600;
}

.header {
	margin-bottom: 48px;

	&__container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		@media only screen and (min-width: 768px) {
			flex-direction: row;
		}
	}

	&__caption {
		margin: 0 auto;
	}
}

.main-section {
}

.control-counter {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 24px;

	&__title {
		margin: 0;
		margin-right: 10px;
	}

	&__number {
		font-size: 38px;
		margin: 0;
	}
}

.counter-form {
	text-align: center;
	margin-bottom: 30px;
	padding-bottom: 30px;

	&__container {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 8px;
	}

	&__input {
		height: 42px;
		margin: 0 8px;
		// margin: 0 auto;
	}

	&__btn {
		min-width: 38px;
		font-size: 28px;
	}
}

.movement-widget {
	position: fixed;
	left: -100%;
	top: 0;
	bottom: 0;
	padding: 12px;
	width: 100%;
	max-width: 100%;
	background-color: rgb(0 0 0 / 90%);
	transition: all 0.2s ease-in;

	@media only screen and (min-width: 576px) {
		max-width: 320px;
		left: -320px;
	}

	&.is-hidden {
		left: 0;
	}

	&__control {
		position: absolute;
		top: 0;
		right: -78px;
		margin: 12px;
		transition: all 0.1s ease-in;

		&.is-active {
			// right: 0;
			left: 0;
			right: auto;
		}

		&--icon {
			display: inline-block;
			transition: all 0.1s ease-in;
			transform: scale(1);

			&.is-reverse {
				transform: scale(-1);
			}
		}
	}
}

.movements-list {
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 74px 0;

	&__item {
		margin-bottom: 24px;
		width: 100%;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__btn {
		display: flex;
		align-items: center;
		justify-content: center;
		opacity: 0.8;
		width: 100%;

		&.is-active {
			border-color: #8e44ad;
		}
	}

	&__title {
		font-size: 24px;
	}

	&__icon {
		display: flex;
		width: 34px;
		margin-left: 8px;
	}
}
